<!-- ============ CADASTRO DE ESTADO ============-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelEstado" [expanded]="isExpandidoEstado === 1" (opened)="setExpandidoEstado()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastros de Estado</mat-panel-title> <!-- PANEL DE ESTADO -->
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m6 l6">
            <mat-form-field>
              <input matInput placeholder="Id" type="number" [(ngModel)]="estado.id" required>
            </mat-form-field>
          </div>
          <div class="col s12 m6 l6">
            <mat-form-field>
              <input matInput placeholder="Sigla" type="string" [(ngModel)]="estado.sigla" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Descrição" type="string" [(ngModel)]="estado.nome" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarEstado()">Salvar</button>
          </div>
        </div>

        <div class="row heading">
          <div class="col s12">
            <h2 class="title">Lista de Estados</h2>
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar"
                    (keyup)="aplicarFiltroEstado($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table [dataSource]="dsEstado" matSort (matSortChange)="sortDataEstado($event)" class="mat-elevation-z8">

              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Excluir" (click)="excluirEstado(element.id)">delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Editar" (click)="editarEstado(element.id)">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <!-- ID -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Sigla -->
              <ng-container matColumnDef="sigla">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sigla </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.sigla}} </mat-cell>
              </ng-container>

              <!-- Nome -->
              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsEstado"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsEstado;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButton></mat-paginator>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<!-- ============ CADASTRO DE CIDADE/CEP ============-->
<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCidade" [expanded]="isExpandidoCidade === 1" (opened)="setExpandidoCidade()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastros de Cidade</mat-panel-title> <!-- PANEL DE CIDADE -->
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m6 l6">
            <mat-form-field>
              <input matInput placeholder="Id" type="number" [(ngModel)]="cidade.id" required>
            </mat-form-field>
          </div>

          <div class="col s12 m6 l6">
            <mat-form-field>
                <mat-select placeholder="Estado" name="estadoCidade" [(ngModel)]="cidade.estado" (selectionChange)="atualizarEstadoOrigem()" >
                    <mat-option *ngFor="let t of estadoList" [value]="t.nome">
                        {{t.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </div> 
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Nome" type="string" [(ngModel)]="cidade.nome" required>
            </mat-form-field>
          </div>          
        </div>

        <div class="row">
          <div class="col s6 m4 l4">
            <mat-form-field>
              <input matInput placeholder="Cep" type="number" [(ngModel)]="cep.cep" required>
            </mat-form-field>
          </div>   
          
          <div class="col s6 m4 l4">
            <div class="button-row col s12">               
              <!--<button mat-fab color="warn" (click)="removeCep()">-</button >-->
              <button mat-fab color="green"  *ngIf="!edicaoCep" (click)="addCep()">+</button>
              <button mat-fab color="green"  *ngIf="edicaoCep" (click)="atualizarCep()">Atualizar</button> 
            </div>
          </div>            
        </div>  

        <div class="row">
          <div class="col s12 m6 l6">
            <mat-table [dataSource]="dsCep" matSort (matSortChange)="sortDataCep($event)" class="mat-elevation-z8">

              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Excluir" (click)="excluirCep(element.id)">delete
                    </mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Editar" (click)="editarCep(element.id)">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <!-- ID -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Nome -->
              <ng-container matColumnDef="cep">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Cep </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cep}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsCep"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsCep;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButton></mat-paginator>
          </div>
        </div>        

        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarCidade()">Salvar</button>
          </div>
        </div>

        <div class="row heading">
          <div class="col s12">
            <h2 class="title">Lista de Cidade</h2>
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar"
                    (keyup)="aplicarFiltroCidade($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table [dataSource]="dsCidade" matSort (matSortChange)="sortDataCidade($event)" class="mat-elevation-z8">

              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Excluir" (click)="excluirCidade(element.id)">delete
                    </mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Editar" (click)="editarCidade(element.id)">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <!-- ID -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Nome -->
              <ng-container matColumnDef="nome">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsCidade"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsCidade;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButton></mat-paginator>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelValorFrete" [expanded]="isExpandidoValorFrete === 1" (opened)="setExpandidoValorFrete()">
        <mat-expansion-panel-header>
          <mat-panel-title>Cadastros de Valor Frete</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Id" type="number" [(ngModel)]="valorFrete.id" required>
            </mat-form-field>
          </div>
        </div>

        <div class="col s12 m12 l12">
          <mat-form-field>
              <mat-select placeholder="Estado Origem" name="estadoOrigem" [(ngModel)]="valorFrete.estadoOrigem">
                  <mat-option *ngFor="let t of estadoList" [value]="t.nome">
                      {{t.nome}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div> 

        <div class="col s12 m12 l12">
          <mat-form-field>
              <mat-select placeholder="Estado Destino" name="estadoDestino" [(ngModel)]="valorFrete.estadoDestino">
                  <mat-option *ngFor="let t of estadoList" [value]="t.nome">
                      {{t.nome}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div> 

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Valor" type="number" [(ngModel)]="valorFrete.valor" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="salvarValorFrete()">Salvar</button>
          </div>
        </div>

        <div class="row heading">
          <div class="col s12">
            <h2 class="title">Lista de Valor Frete</h2>
            <div class="heading__tools">
              <div class="search">
                <mat-form-field>
                  <mat-icon svgIcon="slidenav-search"></mat-icon>
                  <input matInput id="pesquisarId" name="pesquisar" placeholder="Pesquisar"
                    (keyup)="aplicarFiltroValorFrete($event.target.value)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-table [dataSource]="dsValorFrete" matSort (matSortChange)="sortDataValorFrete($event)" class="mat-elevation-z8">

              <ng-container matColumnDef="actionsColumn">
                <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Excluir" (click)="excluirValorFrete(element.id)">delete</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon class="link_action" matTooltip="Editar" (click)="editarValorFrete(element.id)">edit</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <!-- ID -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <!-- Estado Origem -->
              <ng-container matColumnDef="estadoOrigem">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Origem </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estadoOrigem}} </mat-cell>
              </ng-container>

              <!-- Estado Destino -->
              <ng-container matColumnDef="estadoDestino">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado Destino </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estadoDestino}} </mat-cell>
              </ng-container>

              <!-- Valor -->
              <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsValorFrete"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsValorFrete;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButton></mat-paginator>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>





<div class="row">
  <div class="col s12">
    <mat-accordion>
      <mat-expansion-panel name="panelCalculaFrete" [expanded]="isExpandidocalculaFrete === 1" (opened)="setExpandidoCalculaFrete()">
        <mat-expansion-panel-header>
          <mat-panel-title>Calcular Valor do Frete</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="col s12 m12 l12">
          <mat-form-field>
              <mat-select placeholder="Estado Origem" name="estadoOrigem" [(ngModel)]="estadoO">
                  <mat-option *ngFor="let t of estadoList" [value]="t.nome">
                      {{t.nome}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div> 

        <div class="col s12 m12 l12">
          <mat-form-field>
              <mat-select placeholder="Estado Destino" name="estadoDestino" [(ngModel)]="estadoD">
                  <mat-option *ngFor="let t of estadoList" [value]="t.nome">
                      {{t.nome}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div> 

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Peso" type="number" [(ngModel)]="peso" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row footer-btn">
          <div class="button-row col s12">
            <button mat-raised-button color="green" (click)="calculaFrete()">Calcular Valor Frete</button>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <mat-form-field>
              <input matInput placeholder="Resultado Valor Frete" type="number" [(ngModel)]="resultadoValorFrete" disabled>
            </mat-form-field>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>